body {
  background-image: url(https://unsplash.imgix.net/photo-1428908799722-0a74e26ce7f6?dpr=2&fit=crop&fm=jpg&h=700&q=75&w=1050);
  color: white;
  padding: 100px;
  font-family: sans-serif;
}

h1 {
  margin-bottom: 1px;
}
hr {
  margin-bottom: 30px;
}

h1.current {
  margin: 50px auto;
}

input {
  border-radius: 3px;
  border: none;
}

input:focus {
  box-shadow: none;
}

button {
  opacity: .6;
}

button:hover {
  opacity: .9;
}

div.day {
  display: none;
  box-sizing: border-box;
  padding-top: 4px;
  text-align: center;
  background-color: white;
  height: 250px;
  width: 200px;
  border-radius: 5px;
  opacity: .8;
}

h2 {
  text-decoration: underline;
}

div.day h2, div.day h3 {
  color: black;
}

div.day:hover {
  opacity: .95;
}

